body{
    background-color: rgb(42, 41, 41);
}
p{
    color: bisque;
}
:not(.x){
    color: rgb(42, 41, 41);
    font-weight: 2000;
}
button.redirect{
    transition-duration: 0.4s;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    height: 275px;
    width: 275px;
    font-size: 30px;
    border: 5px solid #4CAF50; 
  }
  
  button.redirect:hover {
    background-color: #4CAF50; 
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 50px;
    box-shadow: 15px 15px 26px 26px rgba(250, 247, 247, 0.705), 6px 6px 20px 20px rgba(244, 242, 242, 0.19);
  }